/core/target
/core/Cargo.lock
/device/ad57_rtic/target
/device/larus/target
/device/pc/target
/device/pc/simulator-0.5.0/target
/device/common/fmc_lcd/target
/sw_update/target
*.f110
*.pyc
device/pc/eeprom.bin
device/ad57_rtic/image.bin
device/common/fmc_lcd/Cargo.lock
device/pc/simulator-0.5.0/Cargo.lock
