/.venv
/core/target
/core/Cargo.lock
/device/air_avionics_ad57/target
/device/larus_frontend_v1/target
/device/larus_frontend_v2/target
/device/pc/target
/device/pc/simulator-0.5.0/target
*.f110
*.pyc
*.bin
*.elf
/device/pc/simulator-0.5.0/Cargo.lock
/device/common/fmc_lcd/target
/device/common/fmc_lcd/Cargo.lock
